/** Stylesheet for the puzzles */

.sortable-code {
    position: static;
    padding-left: 0px;
    margin-left: 2%;
    float: left;
    margin-top: 50px;
}
#sortableTrash { width: 38%; }
#sortable { width: 56%; }
.sortable-code ul {
    font-size: 120%;
    font-family: monospace;
    list-style: none;
    background-color: #efefff;
    padding-bottom: 10px;
    padding-left: 0;
    margin-left: 0;
    border: 1px solid #efefff;;
}
.sortable-code ul:empty {
  padding-bottom: 30px;
}
.sortable-code li, .sortable-code li:before, .sortable-code li:after {
  box-sizing: content-box;
}

ul.output {
    background-color: #FFA;
}

/* Change the colour of banner */
.sortable-code li {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius: 10px;
    background-color:#887a7a;
    border:1px solid lightgray;
    padding:10px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: move;
}
.sortable-code li:hover {
    overflow: visible;
}

.sortable-code p {
    font-size: x-large;
}

ul.incorrect {
    border: 1px solid red;
    background-color: #ffefef;
}

ul.correct {
    background-color: #efffef;
    background-color: #DFF2BF;
}

li.incorrectIndent {
    border: 1px solid red;
    border-left: 10px solid red;
}

li.correctIndent {
    border: 1px solid green;
    border-left: 10px solid green;
}

li.incorrectPosition, .testcase.fail, .testcase.error {
    background-color: #FFBABA;
    border:1px solid red;
}

li.correctPosition, .testcase.pass {
    background-color: #DFF2BF;
    border:1px solid green;
}

.testcase { padding: 10px; margin-bottom: 10px;}
.testcase .msg { font-weight: bold; }
.testcase .error { color: red;}
.testcase .feedback { font-weight: bolder;}
.testcase .fail .expected, .testcase .fail .actual {
    color: red; 
    font-weight: bolder;
}
.testcase .output { 
    display: block; 
    white-space: pre; 
    background-color: #555555;
    color: white;
    font-size: 12px;
    line-height: 15px;
    margin: 5px;
    padding: 5px;
}
/** For styling the toggleable elements */
.jsparson-toggle {
    padding: 0 15px;
    display: inline-block;
    border: 1px dashed black;
    z-index: 500;
    cursor: pointer;
    min-width: 10px;
    min-height: 15px;
}
.jsparson-toggle:empty {
    border-color: red;
}
.jsparson-toggle:empty:before {
    content: "??";
    display: block;
    color: red;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: large;
    font-weight: bold;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  table {
    table-layout: fixed;
    width: 600px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0em;
}
td {
    border: 1px solid #676767;
    padding: 5px;
    margin: 5px;
    height: 35px;
    width: 1em;
}

th {
    border:  1px solid black;;
    padding: 5px;
    margin: 5px;
    height: 35px;
    width: 3em;
    background-color: #d0d0d0;
}

h4 {
    padding: 5px;
    margin-bottom: 0px;
    margin-top: 50px;
    text-align: auto;
    font-size: x-large;
}